/* montserrat-200 - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-200italic - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500italic - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Black'), local('Montserrat-Black'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900italic - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
    url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.woff') format('woff'), /* Modern Browsers */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/montserrat-v14-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext-900italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-regular - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-italic - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
    url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.woff') format('woff'), /* Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-700italic - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
    url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.woff') format('woff'), /* Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-700 - cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.woff') format('woff'), /* Modern Browsers */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/ibm-plex-sans-v7-cyrillic_latin_vietnamese_latin-ext_cyrillic-ext_greek-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

body {
    background-color: #fffef8;
    color: #000000;
    display: grid;
    grid-template-columns: 15em 1fr;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: medium;
    line-height: 1.33333;
    margin: 1rem;
    height: 100%;
    min-height: min-content;
}

aside {
    grid-column: 1;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px dotted #202b49;
}

main {
    grid-column: 2;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

a {
    color: #035a5c;
    text-decoration: none;
}

p a {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    color: #202b49;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #7a88a3;
}

h1 {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: medium;
    font-weight: 200;
    text-transform: uppercase;
}

h4 {
    font-size: medium;
    font-weight: 200;
}

h5 {
    font-size: medium;
    font-style: italic;
    font-weight: 200;
    border-bottom: none;
}

p {
    margin-bottom: 0.75rem;
}

blockquote {
    color: #747171;
    line-height: 1.16667;
    margin-top: 0.75rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px dotted #747171;
}

blockquote p {
    margin-bottom: 3px;
}

blockquote p:last-of-type {
    margin-bottom: 1rem;
}

blockquote p + p {
    text-indent: 1rem;
}

ul {
    list-style-position: outside;
    list-style-type: square;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
}

li {
    padding-left: 0.25rem;
}

dl {
    display:grid;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
    margin-top: 1rem;
}

dt {
    display:block;
    font-weight: bold;
    grid-column: 1;
}

dd {
    display:block;
    grid-column: 2;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}

table thead tr:last-child th {
    border-bottom: 1px solid #7c7e7f;
}

table th {
    text-align: left;
    vertical-align: top;
    padding: 0.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table td {
    vertical-align: top;
    padding: 0.25rem;
}

table tr:not(:last-child) th {
    border-bottom: 1px solid #d8d8d9;
}

table tr:not(:last-child) td {
    border-bottom: 1px solid #7c7e7f;
}

footer {
    border-top: 1px solid #202b49;
    color: #202b49;
    margin-top: 1rem;
    padding-top: 1rem;
}

footer p {
    font-size: small;
}

img.adler-icon {
    height: 1rem;
    width: 1rem;
    vertical-align: text-top;
}
