$color-bg: #fffef8;
$color-fg: #000000;
$color-fg-alt: #202b49;
$color-fg-link: #17293a;
$color-fg-header: #7a88a3;
$color-fg-blockquote: #272525;

$color-table-border: #d8d8d9;
$color-table-border-alt: #7c7e7f;
