@import 'fonts-charis';
@import 'fonts-montserrat';
@import 'fonts-courier-prime';

$font-family-body: 'CharisSILW', serif;
$font-family-header: 'Montserrat', sans-serif;
$font-family-code: 'Courier Prime', 'Courier', monospace;

$font-weight-body: normal; // = 400
$font-weight-bold: bold; // = 700

$font-size-body: 1.2rem;
$font-size-body-print: 12pt;
$font-size-sub: smaller;
$font-size-small-caps: 1rem;
$font-size-blockquote: smaller;
$font-size-footer: .8rem;

$line-height-body: 1.33333;
$line-height-blockquote: 1.16667;
$line-height-code: 1em;
