// LibreFranklin Light
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/LibreFranklin-Light.woff2') format('woff2');
}

// LibreFranklin Light-Italic
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/LibreFranklin-LightItalic.woff2') format('woff2');
}

// LibreFranklin Regular
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/LibreFranklin-Regular.woff2') format('woff2');
}

// LibreFranklin Regular-Italic
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/LibreFranklin-Italic.woff2') format('woff2');
}

// LibreFranklin Bold
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/LibreFranklin-Bold.woff2') format('woff2');
}

// LibreFranklin Bold-Italic
@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/LibreFranklin-BoldItalic.woff2') format('woff2');
}
