@use 'sass:math';

@import 'fonts-charis';
@import 'fonts-libre-franklin';
@import 'fonts-courier-prime';

// TODO: consider math.div(Alegreya, Alegreya) Sans (& SC variants)

$font-family-serif: 'CharisSILW', serif;
$font-family-sans: 'Libre Franklin', sans-serif;
$font-family-code: 'Courier Prime', 'Courier', monospace;

$font-weight-light: 300;
$font-weight-regular: normal; // = 400
$font-weight-bold: bold; // = 700

$font-size-default: 16px;
$font-size-body: $font-size-default;
$font-size-smaller: (5 * math.div($font-size-body, 6));
$font-size-xsmall: (2 * math.div($font-size-body, 3));
$font-size-larger: (6 * math.div($font-size-body, 5));
$font-size-xlarge: (8 * math.div($font-size-body, 5));

$font-size-sub: $font-size-smaller;
$font-size-small-caps: $font-size-smaller;
$font-size-blockquote: (6 * math.div($font-size-body, 7));
$font-size-footer: $font-size-smaller;
$font-size-nav: $font-size-smaller;

$font-size-root-screen: medium;
$font-size-root-print: 12pt;

$line-height-body: 1.5 * $font-size-default;
$line-height-tighter: $font-size-default;
$line-height-blockquote: math.div(4, 3) * $font-size-default;
$line-height-code: 1.1em;

$icon-size: floor($font-size-smaller);

$font-family-body: $font-family-serif;
$font-family-headings: $font-family-sans;
$font-family-nav: $font-family-serif;
//$font-family-nav: $font-family-sans;
$font-family-blockquote: $font-family-serif;
