@import 'fonts-charis';
@import 'fonts-montserrat';
@import 'fonts-courier-prime';

$font-family-body: 'CharisSILW', serif;
$font-family-header: 'Montserrat', sans-serif;
$font-family-code: 'Courier Prime', 'Courier', monospace;

$font-weight-body: normal; // = 400
$font-weight-bold: bold; // = 700

$font-size-body: 1rem;
$font-size-smaller: (5 * $font-size-body / 6);

$font-size-sub: $font-size-smaller;
$font-size-small-caps: $font-size-smaller;
$font-size-blockquote: (6 * $font-size-body / 7);
$font-size-footer: $font-size-smaller;
$font-size-nav: $font-size-smaller;

$font-size-root-screen: medium;
$font-size-root-print: 12pt;

$line-height-body: 1.33333;
$line-height-blockquote: 1.16667;
$line-height-code: 1em;
