@import 'fonts';

@media print {
  html {
    /* TODO: does this help? (w/browser-provided header/footer) */
    font-size: $font-size-body-print;
    font-family: $font-family-body;
    font-weight: $font-weight-body;
  }

  body {
    padding-right: 1in;
    padding-left: 1in;
    font-size: $font-size-body-print;
  }

  header {
    display: none;
  }

  aside {
    display: none;
  }

  main {
    grid-column: 1/3;
  }

  @page {
    margin-top: 1in;
    margin-bottom: 1.5in;
  }
}

