@use 'sass:math';

@import 'globals';

$page-margin-print: .75in;
$page-offset-print: math.div($page-margin-print, 3);

@media print {
  body {
    // TODO: get page margins working
    // TODO: figure out why we get an extra blank page at the end
    margin-top: $page-margin-print;
    margin-right: $page-margin-print;
    margin-bottom: 4 * $page-offset-print;
    margin-left: $page-margin-print;
    orphans: 3;
    widows: 3;

    > aside {
      display: none;
    }

    > main {
      margin-bottom: 2 * $page-offset-print;
      height: 100%;
    }

    // TODO: get real headers and footers laying out properly
    // TODO: get page numbers working
    > header {
      position: fixed;
      top: $page-offset-print;
      left: $page-margin-print;

      p {
        font-family: $font-family-headings;
        font-weight: $font-weight-bold;
      }
    }

    > footer {
      position: fixed;
      top: $page-offset-print;
      right: $page-margin-print;
    }

    @page {
      margin: 0;
    }
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  .hidden-print {
    display: none;
  }
}
