@import 'reset';
@import 'globals';

html {
  height: 100%;
  text-size-adjust: none;
}

body {
  margin: $margin;
  background-color: $color-bg;
  min-height: 100vh;
  line-height: $line-height-body;
  color: $color-fg;
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
}

// sass-lint:disable-block single-line-per-selector
h1, h2, h3, h4, h5 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;
}

a {
  text-decoration: none;
  color: $color-link;
  font-weight: $font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

del {
  text-decoration-line: line-through;
  text-decoration-color: $color-strikethrough;
  // sass-lint:disable no-misspelled-properties
  text-decoration-thickness: 3px;
  // sass-lint:enable no-misspelled-properties
}

ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
}

li {
  margin-left: $margin;
  line-height: $margin;
}

h1 {
  margin-bottom: $margin;
  text-transform: uppercase;
  font-size: $font-size-xlarge;
}

h3, h4, h5 {
  margin-top: $margin / 2;
}

h2 {
  margin-top: $margin;
  margin-bottom: $margin / 2;
  border-bottom: 1px solid $color-header;
  color: $color-header;
  font-size: $font-size-larger;
}

h3 {
  text-transform: uppercase;
  color: $color-header;
  font-size: $font-size-smaller;
}

h4 {
  color: $color-header;
  font-size: $font-size-smaller;
  font-weight: $font-weight-light;
}

h5 {
  color: $color-fg;
  font-size: $font-size-smaller;
  font-weight: $font-weight-light;
  font-style: italic;
}

img {
  &.adler-icon {
    display: inline-block;
    margin-top: ($margin - $icon-size) / 2;
    margin-right: ($margin - $icon-size) / 2;
    width: $icon-size;
    height: $icon-size;
  }
}

hr {
  margin-top: $margin;
  margin-bottom: $margin;
  border: 0;
  border-top: 5px double $color-hr;
}

table {
  margin-top: $margin;
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    padding-top: $margin / 4;
    padding-right: $margin / 4;
    padding-left: $margin / 4;
    font-size: $font-size-smaller;
  }

  thead {
    th {
      border-bottom: 1px solid $color-table-border;
      text-align: start;
      text-transform: uppercase;
      font-family: $font-family-sans;
      font-size: $font-size-small-caps;
    }
  }
}

code, pre {
  margin-top: $margin;
  line-height: $line-height-code;
  color: $color-code;
  font-family: $font-family-code;
}

blockquote {
  margin-top: $margin / 2;
  margin-left: $margin;
  line-height: $line-height-blockquote;
  color: $color-blockquote;
  font-size: $font-size-blockquote;

  p {
    font-family: $font-family-blockquote;
  }

  cite {
    &::before {
      content: '—\2009';
    }
  }
}

:matches(h1, h2, h3, h4, h5, h6) + blockquote {
  margin-left: 0;
}

// ////////////////////////////////////////////////////////////
// Layout

header {
  nav {
    h5 {
      font-size: $font-size-body;
      font-style: normal;

      &::before {
        display: inline-block;
        margin-top: auto;
        margin-right: ($margin - $icon-size) / 2;
        background-image: url('/apple-touch-icon.png');
        background-size: $icon-size, $icon-size;
        width: $icon-size;
        height: $icon-size;
        content: ' ';
      }
    }
  }
}

aside {
  nav {
    margin-top: $margin;
    font-family: $font-family-nav;

    h1 {
      margin-bottom: $margin / 2;
      font-size: $font-size-larger;
    }

    ul {
      line-height: $line-height-tighter;
      font-size: $font-size-smaller;

      li {
        line-height: $line-height-tighter;
      }
    }
  }
}

main {
  p {
    margin-top: $margin / 2;
  }

  ul, ol {
    margin-top: $margin / 2;

    ul, ol {
      margin-top: 0;
    }
  }

  li {
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  > img {
    display: block;
    margin-top: $margin;
  }
}

footer {
  margin-bottom: $margin;
}

// ////////////////////////////////////////////////////////////
// Desktop

// TODO: add media query after mobile view implemented
//@media (min-width: $min-desktop-width) {
//}

// sass-lint:disable no-mergeable-selectors
body {
  display: grid;
  grid-template-columns: 15 * $font-size-body minmax(0, 1fr);
  grid-template-rows: max-content auto;

  header {
    grid-column: 1;
    grid-row: 1;
  }

  aside {
    grid-column: 1;
    grid-row: 2;
  }

  main {
    margin-right: $margin;
    margin-left: 2 * $margin;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  footer {
    margin-top: $margin;
    grid-column: 1 / span 2;
  }
}

// sass-lint:enable no-mergeable-selectors

// ////////////////////////////////////////////////////////////
// Mobile

// TODO: implement mobile view with aside as hamburger menu

//@media (max-width: $min-desktop-width) {
//}

//body {
//  display: flex;
//  flex-direction: column;
//
//  header {
//    flex-basis: 100%;
//  }
//
//  main {
//    flex-basis: 100%;
//  }
//}
