@import 'screen';
@import 'print';
@import 'fonts';

$color-bg: #fffef8;
$color-fg: #000000;
$color-fg-alt: #202b49;
$color-fg-link: #17293a;
$color-fg-header: #7a88a3;
$color-fg-blockquote: #272525;

$margin-body: 1em;
$margin-header-top: 1.5 * $margin-body;
$margin-narrow: $margin-body / 4;
$margin-paragraph-bottom: 3 * $margin-body / 4;
$margin-paragraph-bottom-blockquote: 3px;
$color-table-border: #d8d8d9;
$color-table-border-alt: #7c7e7f;


body {
  display: grid;
  margin: $margin-body;
  background-color: $color-bg;
  width: available;
  height: 100%;
  min-height: min-content;
  line-height: $line-height-body;
  color: $color-fg;

  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;

  grid-template-columns: 15em minmax(0, 1fr);
}

aside {
  margin-right: $margin-body / 2;
  border-right: 1px dotted $color-fg-alt;
  padding-right: $margin-body / 2;

  grid-column: 1;
}

aside nav ul {
  font-size: 75%;
}

main.full {
  grid-column: 1 / 3;
}

main.full article {
  clear: both;
  page-break-after: always;
}

header {
  grid-column-end: 3;
  grid-column-start: 1;
}

footer {
  margin-top: $margin-body;
  border-top: 1px solid $color-fg-alt;
  padding-top: $margin-body;
  color: $color-fg-alt;

  grid-column-end: 3;
  grid-column-start: 1;
}

a {
  text-decoration: none;
  color: $color-fg-link;
}

a:visited {
  color: $color-fg-link;
}

a:hover {
  text-decoration-color: $color-fg-alt;
  text-decoration-line: underline;
}

main a {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weight-bold;
}

sub {
  vertical-align: sub;
  font-size: $font-size-sub;
}

h1, h2, h3, h4, h5 {
  margin-top: $margin-header-top;
  margin-bottom: $margin-paragraph-bottom;
  border-bottom: 1px solid $color-fg-header;
  color: $color-fg-alt;
  font-family: $font-family-header;
}

h1 {
  text-transform: uppercase;
  font-size: $font-size-body;
  font-weight: $font-weight-bold;
}

h2 {
  text-transform: uppercase;
  font-size: $font-size-small-caps;
  font-weight: $font-weight-bold;
}

h3 {
  text-transform: uppercase;
  font-size: $font-size-small-caps;
  font-weight: $font-weight-body;
}

h4 {
  font-size: $font-size-small-caps;
  font-weight: $font-weight-body;
}

h5 {
  border-bottom-style: none;
  font-size: $font-size-small-caps;
  font-weight: $font-weight-body;
  font-style: italic;
}

p {
  margin-bottom: $margin-paragraph-bottom;
}

blockquote {
  margin-top: $margin-paragraph-bottom;
  margin-right: 5 * $margin-body;
  margin-left: $margin-body;
  line-height: $line-height-blockquote;
  color: $color-fg-blockquote;
  font-size: $font-size-blockquote;
}

li blockquote {
  margin-left: 0;
}

blockquote p {
  margin-bottom: $margin-paragraph-bottom-blockquote;
}

blockquote p:last-of-type {
  margin-bottom: $margin-body;
}

blockquote p + p {
  text-indent: $margin-body;
}

blockquote p > cite {
  display: block;
  margin-top: $margin-paragraph-bottom;
  margin-left: -$margin-body;
}

blockquote p > cite a {
  font-weight: $font-weight-body;
}

blockquote p > cite::before {
  content: '—';
}

ul {
  margin-bottom: $margin-body;
  margin-left: $margin-body;
  padding-left: $margin-body;
  list-style-position: outside;
  list-style-type: square;
}

ol {
  margin-bottom: $margin-body;
  margin-left: $margin-body;
  padding-left: $margin-body;
  list-style-position: outside;
  list-style-type: decimal;
}

li {
  padding-left: $margin-narrow;
}

dl {
  display: grid;
  margin-top: $margin-body;
  grid-gap: $margin-body / 2;
  grid-template-columns: max-content 1fr;
}

dt {
  display: block;
  font-weight: $font-weight-bold;
  grid-column: 1;
}

dd {
  display: block;
  grid-column: 2;
}

table {
  margin-bottom: $margin-paragraph-bottom;
  table-layout: auto;
  border-collapse: collapse;
}

table thead tr:last-child th {
  border-bottom: 1px solid $color-table-border-alt;
}

table th {
  margin-top: $margin-body;
  margin-bottom: $margin-body;
  padding: $margin-narrow;
  vertical-align: top;
  text-align: left;
  font-weight: $font-weight-bold;
}

table td {
  padding: $margin-narrow;
  vertical-align: top;
}

table th:first-child {
  text-align: right;
}

table td:first-child {
  text-align: right;
}

table tr:not(:last-child) th {
  border-bottom: 1px solid $color-table-border;
}

table tr:not(:last-child) td {
  border-bottom: 1px solid $color-table-border-alt;
}

footer p {
  font-size: $font-size-footer;
}

img.adler-icon {
  width: $margin-body;
  height: $margin-body;
  vertical-align: text-top;
}

pre {
  margin-top: $margin-body;
  margin-bottom: $margin-body;
  line-height: $line-height-code;
  font-family: $font-family-code;
}

code {
  font-family: $font-family-code;
}
