@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote ::before, blockquote ::after, q ::before, q ::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  src: url("/fonts/CharisSIL-R.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CharisSIL-I.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  src: url("/fonts/CharisSIL-B.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CharisSIL-BI.woff");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/LibreFranklin-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/LibreFranklin-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/LibreFranklin-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/LibreFranklin-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/LibreFranklin-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/LibreFranklin-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/CourierPrime-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
}

html {
  height: 100%;
  text-size-adjust: none;
}

body {
  background-color: #e4f0f2;
  min-height: 100vh;
  line-height: 24px;
  color: #0f161a;
  font-family: "CharisSILW", serif;
  font-size: 16px;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #202b49;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

del {
  text-decoration-line: line-through;
  text-decoration-color: #1f2c33;
  text-decoration-thickness: 3px;
}

ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
}

dl {
  display: grid;
  margin-top: 24px;
  grid-gap: 12px;
  grid-template-columns: max-content 1fr;
}

dl dt {
  display: block;
  font-weight: bold;
  grid-column: 1;
}

dl dd {
  display: block;
  grid-column: 2;
}

li {
  margin-left: 24px;
  line-height: 24px;
}

h1 {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 25.6px;
}

h3, h4, h5 {
  margin-top: 12px;
}

h2 {
  margin-top: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid #17293a;
  color: #17293a;
  font-size: 19.2px;
}

h3 {
  text-transform: uppercase;
  color: #17293a;
  font-size: 13.3333333333px;
}

h4 {
  color: #17293a;
  font-size: 13.3333333333px;
  font-weight: 300;
}

h5 {
  color: #0f161a;
  font-size: 13.3333333333px;
  font-weight: 300;
  font-style: italic;
}

img.adler-icon {
  display: inline-block;
  margin-bottom: -1px;
  width: 13px;
  height: 13px;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 5px double #0f161a;
}

table {
  margin-top: 24px;
  table-layout: fixed;
  border-collapse: collapse;
}

table th, table td {
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 13.3333333333px;
}

table thead th {
  border-bottom: 1px solid #1f2c33;
  text-align: start;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-size: 13.3333333333px;
}

code, pre {
  margin-top: 24px;
  line-height: 1.1em;
  color: #035a5c;
  font-family: "Courier Prime", "Courier", monospace;
}

blockquote {
  margin-top: 12px;
  margin-left: 24px;
  line-height: 21.3333333333px;
  color: #1f2c33;
  font-size: 13.7142857143px;
}

blockquote p {
  font-family: "CharisSILW", serif;
}

blockquote cite::before {
  content: '—\2009';
}

:matches(h1, h2, h3, h4, h5, h6) + blockquote {
  margin-left: 0;
}

aside nav {
  font-family: "CharisSILW", serif;
}

aside nav h1 {
  margin-bottom: 12px;
  text-transform: none;
  font-size: 16px;
}

aside nav h1::before {
  display: inline-block;
  margin-top: auto;
  margin-right: 5.5px;
  background-image: url("/apple-touch-icon.png");
  background-size: 13px, 13px;
  width: 13px;
  height: 13px;
  content: ' ';
}

aside nav ul {
  line-height: 16px;
  font-size: 13.3333333333px;
}

aside nav ul li {
  margin-top: 4px;
  margin-left: 18px;
  line-height: 16px;
}

aside nav ul li a {
  font-weight: normal;
}

main {
  background-color: #f7feff;
}

main p {
  margin-top: 12px;
}

main ul, main ol {
  margin-top: 12px;
}

main ul ul, main ul ol, main ol ul, main ol ol {
  margin-top: 0;
}

main li p:first-of-type {
  margin-top: 0;
}

main > img {
  display: block;
  margin-top: 24px;
}

footer {
  margin-bottom: 12px;
}

body {
  display: grid;
  grid-template-columns: fit-content(240px) auto;
  grid-template-rows: auto min-content;
}

body aside {
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  grid-column: 1;
  grid-row: 1;
}

body main {
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  grid-column: 2;
  grid-row: 1;
}

body footer {
  padding-top: 24px;
  grid-column: 2;
  grid-row: 2;
}
