@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote ::before, blockquote ::after, q ::before, q ::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  src: url("/fonts/CharisSIL-R.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CharisSIL-I.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  src: url("/fonts/CharisSIL-B.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CharisSIL-BI.woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Montserrat-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Montserrat-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/Montserrat-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/CourierPrime-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
}

@media screen {
  main {
    grid-column: 2;
  }
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  src: url("/fonts/CharisSIL-R.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CharisSIL-I.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  src: url("/fonts/CharisSIL-B.woff");
}

@font-face {
  font-family: CharisSILW;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CharisSIL-BI.woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Montserrat-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Montserrat-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/Montserrat-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/CourierPrime-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Courier Prime';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CourierPrime-BoldItalic.woff2") format("woff2");
}

@media print {
  html {
    font-family: "CharisSILW", serif;
    font-size: 12pt;
    font-weight: normal;
  }
  body {
    padding-right: 1in;
    padding-left: 1in;
  }
  header {
    display: none;
  }
  aside {
    display: none;
  }
  main {
    grid-column: 1 / 3;
  }
  @page {
    margin-top: 1in;
    margin-bottom: 1.5in;
  }
}

html {
  font-size: medium;
}

body {
  display: grid;
  margin: 1em;
  background-color: #fff9e3;
  width: available;
  height: 100%;
  min-height: min-content;
  line-height: 1.33333;
  color: #000000;
  font-family: "CharisSILW", serif;
  font-size: 1rem;
  font-weight: normal;
  grid-template-columns: 15em minmax(0, 1fr);
}

aside {
  margin-right: 0.5em;
  border-right: 1px dotted #17293a;
  padding-right: 0.5em;
  grid-column: 1;
}

aside nav {
  font-family: "Montserrat", sans-serif;
}

aside nav ul {
  font-size: 0.8333333333rem;
}

main a {
  font-weight: bold;
}

main.full {
  grid-column: 1 / 3;
}

main.full article {
  clear: both;
  page-break-after: always;
}

header {
  grid-column-end: 3;
  grid-column-start: 1;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #17293a;
  padding-top: 1em;
  color: #17293a;
  grid-column-end: 3;
  grid-column-start: 1;
}

footer a {
  font-weight: bold;
}

footer p {
  font-size: 0.8333333333rem;
}

a {
  text-decoration: none;
  color: #202b49;
}

a:visited {
  color: #202b49;
}

a:hover {
  text-decoration-color: #17293a;
  text-decoration-line: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: 0.8333333333rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #17293a;
  color: #17293a;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-size: 0.8333333333rem;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  font-size: 0.8333333333rem;
  font-weight: normal;
}

h4 {
  font-size: 0.8333333333rem;
  font-weight: normal;
}

h5 {
  border-bottom-style: none;
  font-size: 0.8333333333rem;
  font-weight: normal;
  font-style: italic;
}

p {
  margin-bottom: 0.75em;
}

blockquote {
  margin-top: 0.75em;
  margin-right: 5em;
  margin-left: 1em;
  line-height: 1.16667;
  color: #035a5c;
  font-size: 0.8571428571rem;
}

blockquote p {
  margin-bottom: 3px;
}

blockquote p:last-of-type {
  margin-bottom: 1em;
}

blockquote p + p {
  text-indent: 1em;
}

blockquote p > cite {
  display: block;
  margin-top: 0.75em;
  margin-left: -1em;
}

blockquote p > cite a {
  font-weight: normal;
}

blockquote p > cite::before {
  content: '—';
}

ul {
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  list-style-position: outside;
  list-style-type: square;
}

ol {
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  list-style-position: outside;
  list-style-type: decimal;
}

li {
  padding-left: 0.25em;
}

li blockquote {
  margin-left: 0;
}

dl {
  display: grid;
  margin-top: 1em;
  grid-gap: 0.5em;
  grid-template-columns: max-content 1fr;
}

dt {
  display: block;
  font-weight: bold;
  grid-column: 1;
}

dd {
  display: block;
  grid-column: 2;
}

table {
  margin-bottom: 0.75em;
  table-layout: auto;
  border-collapse: collapse;
}

table thead th {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
}

table thead th:first-child {
  text-align: right;
}

table thead td {
  padding: 0.25em;
  vertical-align: top;
}

table thead td:first-child {
  text-align: right;
}

table thead tr:last-child th {
  border-bottom: 1px solid #035a5c;
}

table thead tr:not(:last-child) th {
  border-bottom: 1px solid #318b97;
}

img.adler-icon {
  width: 0.625rem;
  height: 0.625rem;
  vertical-align: baseline;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  color: #035a5c;
  font-family: "Courier Prime", "Courier", monospace;
}

code {
  color: #035a5c;
  font-family: "Courier Prime", "Courier", monospace;
}
