<html lang="en">
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
    <nav>
        <h5><a href="/">Home</a></h5>
    </nav>
</header>
<aside>
    <nav>
        {{.TOC}}
    </nav>
</aside>
<main>
    {{.Body}}
</main>
<footer>
    <p><img class="adler-icon" src="/apple-touch-icon.png"/> Served by <a href="https://github.com/dmoles/adler/">Adler</a>.</p>
</footer>
</body>
</html>